<mat-card class="margin-top">
  <mat-card-header>
    <mat-card-title>Event not started yet</mat-card-title>
  </mat-card-header>
  <mat-card-content class="margin-left">
    Next event: 02.09.2020 19:30 CEST
  </mat-card-content>
</mat-card>
