<div class="flexbox" *ngIf="fastestRound != undefined">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title
        >Schnellste Runde: {{ fastestRound.m_bestLapTime | minuteSecond }}</mat-card-title
      >
      <mat-card-subtitle
        ><mat-icon>person</mat-icon> {{ fastestRound.m_name }}</mat-card-subtitle
      >
    </mat-card-header>
  </mat-card>
</div>
