<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>F1-Event</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon"
      >speed</mat-icon
    >
  </mat-toolbar-row>
</mat-toolbar>
<app-fastes-player-card *ngIf="eventStarted"></app-fastes-player-card>
<app-race-table *ngIf="eventStarted"></app-race-table>
<app-waiting-screen *ngIf="!eventStarted"></app-waiting-screen>
