table {
  width: 100%;
}

.margins {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.margin-right {
  margin-right: 1rem;
}

mat-icon {
  font-size: 20px;
  vertical-align: middle;
}
