<div class="container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 margins">
    
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>#</th>
      <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Fahrer</th>
      <td mat-cell *matCellDef="let element">
        <span [className]="getClass(element.m_nationality)"> </span>{{ getPlayerName(element.m_nationality) }}
      </td>
    </ng-container>

    <ng-container matColumnDef="sector1">
      <th mat-header-cell *matHeaderCellDef>Sektor 1</th>
      <td mat-cell *matCellDef="let element">
        {{ element.m_sector1Time | minuteSecond }}
      </td>
    </ng-container>

    <ng-container matColumnDef="sector2">
      <th mat-header-cell *matHeaderCellDef>Sektor 2</th>
      <td mat-cell *matCellDef="let element">
        {{ element.m_sector2Time | minuteSecond }}
      </td>
    </ng-container>

    <ng-container matColumnDef="lastLap">
      <th mat-header-cell *matHeaderCellDef>Letzte Rundenzeit</th>
      <td mat-cell *matCellDef="let element">
        {{ element.m_lastLapTime | minuteSecond }}
      </td>
    </ng-container>

    <ng-container matColumnDef="bestLap">
      <th mat-header-cell *matHeaderCellDef>Beste Rundenzeit</th>
      <td mat-cell *matCellDef="let element">
        {{ element.m_bestLapTime | minuteSecond }}
        <div *ngIf="fastestRoundPlayer">
          <mat-icon *ngIf="element.m_bestLapTime == fastestRoundPlayer.m_bestLapTime"
            >whatshot</mat-icon
          >
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="penalties">
      <th mat-header-cell *matHeaderCellDef>Zeitstrafen</th>
      <td mat-cell *matCellDef="let element">+ {{ element.m_penalties }} Sekunden</td>
    </ng-container>

    <ng-container matColumnDef="aiDriven">
      <th mat-header-cell *matHeaderCellDef>Computer gesteuert</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon *ngIf="element.m_aiControlled == 1">done</mat-icon>
        <mat-icon *ngIf="element.m_aiControlled == 0">clear</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
